<!DOCTYPE html>
<html class="no-js" lang="it-CH">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ .Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
	<link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='/css/main.css' rel='stylesheet' type='text/css'>
</head>
<body lang="it">
